@using Blog.Models
@model IEnumerable<BlogPost>

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page Header -->
<header class="masthead" style="background-image: url('/Images/Landing.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h2> Brandon's Blog </h2>
                </div>
            </div>
        </div>
    </div>
</header>



<!-- Main content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @foreach (var blogPost in Model)
            {
                <div class="post-preview">

                    <a href="~/Blog/@blogPost.Slug">
                        <h2 class="post-title">
                            @blogPost.Title
                        </h2>
                        <div class="media justify-content-sm-center">
                            <img src="@Url.Content(blogPost.ImageLocation)" />
                        </div>
                        <h3 class="post-subtitle">
                            @blogPost.Abstract
                        </h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#"> Brandon Beck </a>
                        on @blogPost.Created.ToString("MMM dd, yyyy")
                    </p>
                </div>
                <hr>
            }
            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
            </div>
        </div>
    </div>
</div>
